<img src="https://images.squarespace-cdn.com/content/v1/5e7275120157e10f58ad3274/a85f6bc5-0992-44f9-b2b2-1d2d5a17fbd8/Back+To+School+Sale+Round-Up+%282%29.jpg?format=2500w" 
    alt="The Best Online Book Stores" 
    width="300">
<h1>Welcome to AceReads Test</h1>

<ul>
    {% for book in books %} <!--Jinja Model-->
    <li>{{ book.title }} by {{book.author}}</li>
    {% endfor %}
</ul>

<form method="POST" action="/books">
    <input type="text" name="title" placeholder="Title"><br> <!-- #<br> break lines-->
    <input type="text" name="author" placeholder="Autor"><br>
    <input type="submit" value="Submit">
</form>
