
<img src="https://media.tenor.com/wKioBR4koyIAAAAi/send-help-help.gif" 
    alt="Help gif" 
    width="300">

<!-- Tags and attributes -->
<p>
    A paragraph
</p>

<div>
    A block of content
</div>

<!-- An HTML opening tag can have attributes, 
using the following syntax: -->
<h1>
    A heading (main) title
</h1>

<h2>
    A smaller heading title
</h2>

<p id="my-id">
    A paragraph
</p>

<div id="my-div" class="container">
    A block of content
</div>

<!-- An image (the src attribute is the image URL, alt attribute is for screen reader users) -->
<img src="https://media.istockphoto.com/photos/closeup-portrait-of-funny-ginger-cat-wearing-sunglasses-isolated-on-picture-id1188445864?k=20&m=1188445864&s=612x612&w=0&h=0vuJeOxJr8Lu3Q1VdT1z7t6HcM8Oj7EVJe3CexGnH_8=" alt="A ginger cat wearing round sunglasses looking off to the right with a reflection in the sunglasses of a white rectangle"
></img>

<!-- Basic page structure -->
<html>
    <head>
    <title>This will be displayed in the browser window or tab title</title>
    </head>
    <body>
        <h1>Welcome to my page</h1>
    </body>
</html>

<!-- Divs -->
<div>
Some content above
</div>

<div>
Some content below
</div>

<!-- Spans -->
<span>Content to the left</span>
<span>Conent to the right</span>

<!-- Lists: (Unordered (ul)-> bulleted /
Ordered (ol) -> numbered ) -->
<ul>
    <li>Item one</li>
    <li>Item two</li>
</ul>

<ol>
    <li>Item one</li>
    <li>Item two</li>
</ol>

<!-- Links -->
<p>
    If a path such as /hello is provided, the browser will send a request to the same web server which returned the page
</p>
<a href="/hello">
    Go to the hello page
</a>

<p>
If a "full" URL is provided, the browser will send a request to that URL, which might be for another web server.
</p>
<a href="https://github.com">
    Go to Github (you'll leave this website!)
</a>

<!-- Forms -->
<h1>Add a new album</h1>

<form action="/submit" method="POST">
    <input type="text" name="title">
    <input type="text" name="release_date">

    <input type="submit" value="Submit the form">
</form>
<ul>
    <li>The attribute action is used to tell the browser which path to send the request to.</li>
    <li>The attribute method is used to tell the browser which method to send the request with (usually this is "POST").</li>
    <li>The "input" elements have a name attribute, which is used to give names to body parameters as part of the request.</li>
</ul>

<!-- Nesting-->
<div>
    <span>Top Left</span>
    <span>Top Right</span>
</div>
<div>
    <span>Bottom Left</span>
    <span>Bottom Right</span>
</div>

<!--IDs and classes-->
<p id="introduction"> Ids are used to refer to a specific element and should be unique within any one page. I.e. You should not give more than one element the same id.
</p>

<p id="introduction" class="red">
    Classes, on the other hand, are used to refer to groups of elements (which can be of different types).
</p>

<p class="red">
</p>

<img src="https://media1.tenor.com/m/32LEtADcrNoAAAAd/monkey.gif" 
    alt="Macaco" 
    width="300">

